@import "~common/global.styl"

.wrap
  box()
  width px2rem(90)
  height px2rem(30)
  .number, .btn
    box()
    align-items center
    justify-content center
    height 100%
  .number
    flex 1
    border(top)
    border(bottom)
  .btn
    width px2rem(30)
    border(all)
