@import "~common/global.styl"

.wrap
  box()
  width px2rem(90)
  height px2rem(34)
  .number, .btn
    box()
    align-items center
    justify-content center
    height 100%
  .number
    flex 1
    border(top)
    border(bottom)
    border-color($color-tag)
  .btn
    width px2rem(30)
    border(all)
    border-color($color-tag)
    font-size px2rem(16)
  .disabled
    border-color($color-border)
    color $color-border
