@import "~common/global.styl"

.wrap
  background #fff
  padding px2rem(20)
  margin-bottom px2rem(12)
  line-height px2rem(14)
  font-size $font-size14
  font-weight 300
  color $color-light
  vertical-align middle
  .first
    border(bottom)
    padding-bottom px2rem(20)
    // margin-top px2rem(-7)
  .second
    padding-top px2rem(20)
    // margin-bottom px2rem(-8)
  .label
    box()
    align-items center
  .long
    flex 1
    width 1px
    G-cut-txt()
  .value
    color $color-dark
  .dotWrap
    box()
    align-items center
  .noTop
    padding-top 0
