@import "~common/global"

.wrap
  font-size $font-size14
  padding-bottom px2rem(60)
  .mainImage
    background $color-white
    margin-bottom px2rem(10)
  .itemList
    margin-bottom px2rem(10)
  .card
    background $color-white
    padding px2rem(16)
    margin-bottom px2rem(10)
    h2
      font-size $font-size18
      margin-bottom px2rem(10)
  .telUs
    img
      width 100%
