@import "~common/global.styl"

.wrap
  background $color-white
  height 100%
  min-height px2rem(460)
  padding px2rem(25) px2rem(20) 0 px2rem(20)
  font-size $font-size16
  color $color-dark
  .inner
    position relative
    height 100%
  .title
    font-size $font-size20
    font-weight bolder
    margin-bottom px2rem(10)
  .input
    margin px2rem(20) 0 px2rem(25)
    width 100%
    height px2rem(100)
    border none
    border bottom 1
  ::-webkit-input-placeholder
    color #bfbfbf
    font-weight 300
  .uploadOuter
    margin-top px2rem(10)
  .footer
    footerStyle()
