@import "~common/global.styl"

.wrap
  background $color-white
  height 100%
  padding px2rem(20) px2rem(15)
  font-size $font-size16
  color $color-dark
  .inner
    position relative
    height 100%
  .title
    font-size $font-size20
    font-weight bolder
    margin-bottom px2rem(8)
  .input
    margin px2rem(20) 0
    width 100%
    height px2rem(100)
    border none
    border bottom 1
  .uploadOuter
    margin-top px2rem(10)
  .footer
    width 100%
    position absolute
    margin-top px2rem(30)
