@import "~common/global.styl"

.wrap
  background #FFF
  .item
    padding 0 px2rem(20)
    &:active
      background-color $color-gray
    & > div
      box()
      align-items()
      justify-content()
      border(bottom)
      padding px2rem(20) 0
  .picWrap
    width px2rem(80)
    min-width px2rem(80)
    height px2rem(80)
    line-height px2rem(80)
    margin-right px2rem(20)
    // background-color #F4F4F4
    position relative
    text-align center
    overflow hidden
    img
      width 100%
      min-height 100%
    .tag
      position absolute
      bottom px2rem(5)
      right px2rem(5)
      line-height px2rem(15)
      border-radius px2rem(7)
      padding 0 px2rem(7)
      background-color #F1ECE1
      color #898989
      transform(scale(.95))
  .detail
    margin-right px2rem(20)
    font-weight 300
    flex()
    .tit
      font-size $font-size16
      // line-height px2rem(14)
      margin-bottom px2rem(11)
      line-height 1.1
      color #333
    .desc
      color #9C9FA1
      font-size $font-size13
      G-cut-p()
    .price
      margin-top px2rem(11)
      color $color-red
  .iconCheck
    margin-right px2rem(7)
