@import "~common/global.styl"

.showPic
  background-color rgba(0, 0, 0, .9)
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  z-index 10
  box()
  flex-direction column
  .sliderWrap
    // position absolute
    // top 50%
    width 100%
  .page
    padding-top px2rem(20)
    flex 1
    height 1px
    // position absolute
    // bottom px2rem(120)
    color #FFF
    width 100%
    text-align center

:global .fade-appear {
  opacity: 0.01;
}

:global .fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity .3s ease-in;
}
