@import "~common/global.styl"

.showPic
  background-color rgba(0, 0, 0, .9)
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  z-index 10
  .sliderWrap
    position absolute
    top 50%
    width 100%
    & > div
      margin-top -50%
  .page
    position absolute
    bottom px2rem(120)
    color #FFF
    width 100%
    text-align center