@import "~common/global.styl"

.wrap
  overflow hidden
  .empty
    min-height 10rem
.title
  color $color-dark
  font-size 1.4rem
  padding 1rem 0 0.5rem
.desc
  color $color-light

:global .slick-img
  width 100%
:global .slick-dots
  position absolute
  width 100%
  left 0
  bottom 1rem
  text-align center
  li
    display inline-block
    margin 0 0.2rem
    a
      display inline-block
      width 0.8rem
      height 0.2rem
      border none
      overflow hidden
      background rgba(255, 255, 255, 0.5)
      color transparent
  :global .slick-active
    a
      background #fff
      color transparent
    

