@import "~common/global.styl"

.wrap
  overflow hidden
  .empty
    min-height px2rem(10)
.title
  color $color-dark
  font-size $font-size14
  padding px2rem(10) 0 px2rem(5)
.desc
  color $color-light

:global .slick-img
  width 100%
:global .slick-dots
  position absolute
  width 100%
  left 0
  bottom px2rem(10)
  text-align center
  li
    display inline-block
    margin 0 px2rem(2)
    a
      display inline-block
      width px2rem(8)
      height px2rem(2)
      border none
      overflow hidden
      background rgba(255, 255, 255, 0.5)
      color transparent
  :global .slick-active
    a
      background #fff
      color transparent
