$root-size = 100px
$font-size12 = .12rem
$font-size14 = .14rem
$font-size16 = .16rem
$font-size18 = .18rem
$font-size20 = .2rem
$font-size22 = .22rem
$font-size24 = .24rem

// 通用色
$color-white = #fff
$color-gray = #f6f6f6
$color-red =#ff5b5b
$color-yellow = #F5A623
$color-green = #66D269
$color-dark = #333333
$color-normal = #6B7072
$color-light = #BBBBBB
$color-font-light = #9C9FA1
$color-bright = #FFD819
$color-spc = #FF5848

$color-border = #E5E5E5
$color-tag = #394043

// 将 px 转换成 rem
px2rem(arguments=12)
  (arguments / $root-size)rem

// 处理浏览器私有前缀
prefixed(prop,args)
  -o-{prop} args
  -ms-{prop} args
  -moz-{prop} args
  -webkit-{prop} args
  {prop} args
// 过渡、动画、变形
transition()
  prefixed(transition, arguments)
animation()
  prefixed(animation, arguments)
transform()
  prefixed(transform, arguments)
transform-origin(arguments = 0 0)
  prefixed(transform-origin, arguments)
box-shadow()
  prefixed(box-shadow, arguments)

// 处理border
border(path=all,width=1px,color=$color-border,style=solid)
  if path==none
    border none
  else if path==all
    border width style color
    if width==1px
      border .5px style color
  else if path==top
    border-top width style color
    if width==1px
      border-top .5px style color
  else if path==right
    border-right width style color
    if width==1px
      border-right .5px style color
  else if path==bottom
    border-bottom width style color
    if width==1px
      border-bottom .5px style color
  else if path==left
    border-left width style color
    if width==1px
      border-left .5px style color

// 按钮
btn()
  text-align center
  cursor pointer
  user-select none
  -webkit-tap-highlight-color transparent
  transition all .1s
.brightBtn
  background $color-bright
  color $color-dark
  &:active
    /* background $color-bright + 60% */
  &.disabled
    background #f1f1f1
    color #666
  btn()
.darkBtn
  background $color-dark
  color #fff
  &.disabled
    background $color-dark + 40%
  &:active
    /* background $color-dark + 40% */
  btn()

// 布局
box()
  display -webkit-box
  display -webkit-flex
  display -ms-flexbox
  display flex
flex(arguments = 1)
	-webkit-box-flex arguments
	-webkit-flex arguments
	-ms-flex arguments
	flex arguments
align-items(arguments = center)
	-ms-flex-align arguments
	-webkit-box-align arguments
	-webkit-align-items arguments
	align-items arguments
justify-content(arguments = center)
	-ms-flex-pack arguments
	-webkit-box-pack arguments
	-webkit-justify-content arguments
	justify-content arguments


// 截字
G-cut-txt()
  text-overflow ellipsis
  overflow hidden
  white-space nowrap
G-cut-p(arguments = 2)
	display -webkit-box !important
	overflow hidden
	text-overflow ellipsis
	word-break break-all
	-webkit-box-orient vertical
	-webkit-line-clamp arguments

removeShape()
  -webkit-tap-highlight-color transparent

// 模块
.G-card
  background $color-white
  padding px2rem(20)
  margin-bottom px2rem(10)
  h2
    font-size $font-size18
    margin-bottom px2rem(10)

footerStyle()
  position fixed
  bottom 0
  width 100%
  padding px2rem(15)
  box()
  align-items center

.dot
  display inline-block
  background currentColor
  width px2rem(5)
  height px2rem(5)
  border-radius 50%
  margin-left px2rem(3)
