$font-size = 12px
$font-size1 = 1.16rem
$font-size2 = 1.6rem
$color-white = #fff
$color-gray = #f6f6f6
$color-dark = #333333
$color-normal = #6B7072
$color-light = #BBBBBB
$color-bright = #FFD819
$border = 1px solid #E5E5E5
  
btn()
  text-align center
  cursor pointer
  user-select none
  transition all .1s

.brightBtn
  background #ffeded
  color $color-bright
  &:active
    background $color-bright + 60%
  &.disabled
    background #f1f1f1
    color #666
  btn()

.darkBtn
  background $color-dark
  color #fff
  &:active
    background $color-dark + 40%
  btn()

transition()
  transition arguments
  -o-transition arguments
  -moz-transition arguments
  -webkit-transition arguments

// 原子类 - 布局

G-layout-box()
  display -webkit-box
  display -webkit-flex
  display -ms-flexbox
  display flex

flex(arguments = 1)
	-webkit-box-flex arguments
	-webkit-flex arguments
	-ms-flex arguments
	flex arguments

align-items(arguments = center)
	-ms-flex-align arguments
	-webkit-box-align arguments
	-webkit-align-items arguments
	align-items arguments
justify-content(arguments = center)
	-ms-flex-pack arguments
	-webkit-box-pack arguments
	-webkit-justify-content arguments
	justify-content arguments
// 截字
.G-cut-txt
  text-overflow ellipsis
  overflow hidden
  white-space nowrap
G-cut-p()
		display:-webkit-box !important;
		overflow:hidden;
		text-overflow:ellipsis;
		word-break:break-all;
		-webkit-box-orient:vertical;
		-webkit-line-clamp:arguments;
