@import "~common/global.styl"

.wrap
  .container
    width 50%
    display inline-block
    text-align center
    .inner
      border(bottom, 0.5px, #EDEDED)
      padding px2rem(20) 0
    &:nth-child(odd)
      .inner
        border(right, 0.5px, #EDEDED)
        padding-right px2rem(10)
    &:nth-child(even)
      .inner
        padding-left px2rem(10)
    .img
      width 100%
    .text
      color $color-dark
      font-size $font-size14
      line-height px2rem(20)
