@import "~common/global.styl"

.wrap
  .container
    width 50%
    display inline-block
    text-align center
    margin-bottom px2rem(16)
    &:nth-child(odd)
      .inner
        padding-right px2rem(10)
    &:nth-child(even)
      .inner
        padding-left px2rem(10)
    .img
      width 100%
    .text
      color $color-dark
      font-size $font-size14
      line-height px2rem(20)
