@import "~common/global.styl"

.wrap
  .container
    width 50%
    display inline-block
    text-align center
    .inner
      border(bottom, 1px, #EDEDED)
      padding px2rem(20) 0
    &:nth-child(odd)
      .inner
        border(right, 1px, #EDEDED)
        padding-right px2rem(10)
    &:nth-child(even)
      .inner
        padding-left px2rem(10)
        border(left, 1px, transparent)
    &:nth-child(1)
      .inner
        border(top, 1px, #EDEDED)
    &:nth-child(2)
      .inner
        border(top, 1px, #EDEDED)
    &:nth-last-child(2):not(:nth-child(even))
      .inner
        border-bottom none
    &:last-child
      .inner
        border-bottom none
    .img
      width 100%
    .text
      color $color-dark
      font-size $font-size14
      line-height px2rem(20)
