@import "~common/global.styl"
.wrap
  removeShape()
  display-flex()
  position fixed
  bottom 0
  width 100%
  z-index 5

  .infoContainer
    transform opacity 0
    height 75%
    width 100%
    position fixed
    left 0
    padding .14rem
    z-index 101
    background-color $color-white
    transition transform .3s ease-out
    .skuContainer
      box() 
      .skuImg
        height px2rem(80)
        width px2rem(110)
        margin .1rem
        position relative
        p
          position absolute
          color white
          height px2rem(110)
          width px2rem(110)
          overflow hidden
          bottom 0.2rem
      .skuInfo
        flex 1
        .price
          color $color-red
          font-size $font-size20
          margin-top px2rem(20)
        .info
          color #9c9fa1
          margin-right px2rem(30)
          margin-top px2rem(8)
          word-break break-all
    .close
      position absolute
      top px2rem(20)
      right px2rem(25)
      width px2rem(20)
      height px2rem(20)
      color #9c9fa1
      font-size px2rem(20)
    .line
      border(bottom, 1px, $color-border)
      margin px2rem(20) auto auto auto
    .subContainer
      border(bottom, 1px, $color-border)
      margin px2rem(10) auto
      .title
        font-size px2rem(15)
        color #9C9FA1
        margin-top .3rem
      input
        width 100%
        height .3rem
        padding-bottom .1rem
        border(none)
        margin-top px2rem(30)
        color #394043
        font-size px2rem(15)
      .subContainer.focus
        border(bottom, 1px, #394043)
    .btnArea
      position fixed
      bottom 0
      left 0
      width 100%
      font-size $font-size14
      .container
        width 3.55rem
        height px2rem(55)
        margin 0 auto px2rem(10) auto
  .show
    visibility visible
    opacity 1
    transform translate(0, -100%)
  .hide
    transform translate(0, 0)
    .skuImg
      p
        opacity 0
  .cover
    opacity .7
    height 100%
    width 100%
    position fixed
    background-color #000
    top 0
    left 0
    z-index 100
