@import "~common/global.styl"

@keyframes show
{
  from {top: 300px;}
  to {top: 25%;}
}
@keyframes hide
{
  from {top: 25%;}
  to {top: 300;}
}
.wrap
  removeShape()
  display-flex()
  position fixed
  bottom 0
  width 100%
  z-index 5

  .infoContainer
    transform opacity 0
    height 75%
    width 100%
    position fixed
    left 0
    z-index 101
    background-color $color-white
    transition transform .3s ease-out
    .skuContainer
      box() 
      .skuImg
        height px2rem(80)
        width px2rem(110)
        position relative
        margin-right px2rem(10)
        margin-left px2rem(25)
        background-color $color-gray
        p
          position absolute
          color white
          height px2rem(110)
          width px2rem(110)
          overflow hidden
          bottom 0
      .skuInfo
        .price
          color $color-red
          font-size $font-size20
          margin-top px2rem(20)
        .info
          color #9c9fa1
          width px2rem(165)
          margin-right px2rem(30)
          margin-top px2rem(8)
          word-break break-all
    .close
      position absolute
      top px2rem(20)
      right px2rem(25)
      width px2rem(20)
      height px2rem(20)
      color #9c9fa1
      font-size px2rem(20)
    .line
      border(bottom, 1px, $color-border)
      margin 40px auto
      width 355px
    .subContainer
      width 355px
      border(bottom, 1px, $color-border)
      margin 40px auto
      .title
        font-size px2rem(15)
        color #9C9FA1
      input
        width 100%
        height 35px
        border(none)
        margin-top 30px
        color #394043
        font-size px2rem(15)
      .subContainer.focus
        border(bottom, 1px, #394043)
    .btnArea
      position fixed
      bottom 0
      width 100%
      font-size $font-size14
      .container
        width px2rem(355)
        height px2rem(55)
        margin 0 auto 10px auto
  .show
    visibility visible
    opacity 1
    transform translate(0, -100%)
  .hide
    transform translate(0, 0)
    .skuImg
      p
        opacity 0
  .cover
    opacity .7
    height 100%
    width 100%
    position fixed
    background-color #000
    top 0
    left 0
    z-index 100
