@import "~common/global.styl"

.wrap
  position fixed
  right px2rem(15)
  bottom px2rem(20)
  opacity 0.95
  background $color-tag
  box-shadow: 0 px2rem(2) px2rem(4) px2rem(0) rgba(0,0,0,0.50)
  border-radius px2rem(1.5)
  width px2rem(105)
  height px2rem(50)
  color $color-white
  box()
  align-items center
  a
    width 100%
    text-align center
    display inline-block
  >hr
    height px2rem(20)
    opacity 0.3
    border(none)
    border(left, px2rem(1), $color-white)
  >div
    flex 1
    text-align center
  .shoppingcart
    position relative
  .mark
    display inline-block
    background $color-red
    border-radius 50%
    width px2rem(9)
    height px2rem(9)
    position absolute
    top px2rem(-4)
