@import "~common/global.styl"

.wrap
  box()
  border(bottom)
  justify-content space-around
  .tab
    text-align center
    padding px2rem(15) 0
    a
      color $color-normal
      font-size $font-size14
      display block
  .active
    border(bottom,2px,$color-dark)
    a
      color $color-dark !important
  .ver_active
    background $color-white
    a
      border(left,3px,$color-dark)
      color $color-dark
      font-size $font-size16
      font-weight bold
.horizontal
  .tab
    padding px2rem(20) px2rem(2) px2rem(18) px2rem(2)
    a
      color $color-font-light
.vertical
  flex-direction column
  border none
