@import "~common/global.styl"

.wrap
  box()
  border bottom px2rem(1)
  .tab
    flex 1
    text-align center
    padding px2rem(15) 0
    a
      color $color-normal
      font-size $font-size14
      display block
  .active
    background $color-white
    a
      border(left,3px,$color-dark)
      color $color-dark
      font-size $font-size16
      font-weight bold
.vertical
  flex-direction column
  border none
