@import "~common/global"

.wrap
  padding-top px2rem(55)
.nav
  position fixed
  top 0
  width 100%
  font-size $font-size14
  background $color-white
  margin-bottom px2rem(12)
.content
  padding px2rem(15) 0 0 px2rem(20)
.bottom
  text-align center
