@import "~common/global"

.wrap
  padding-top px2rem(52)
.nav
  position fixed
  top 0
  width 100%
  font-size $font-size14
  background $color-white
  margin-bottom px2rem(12)
.content
  padding px2rem(0) 0 0
.bottom
  text-align center
  color $color-font-light
  .bottomHeight
    height px2rem(10)
