@import "~common/global"

.wrap
  margin-bottom px2rem(12)
  background #fff
  .header
    padding px2rem(17) px2rem(20)
    font-size px2rem(14)
    border(bottom)
    box()
    >div:first-child
      flex 1
  .content
    padding 0 px2rem(20)
  .footer
    padding px2rem(17) px2rem(20)
    font-size px2rem(14)
    box()
    align-items center
    .priceArea
      flex 1
    .btnArea
      box()
      align-items center
      margin-left px2rem(20)
      height px2rem(30)
      text-align center
    .delete
      color $color-normal
    .dark
      background $color-dark
      padding 0 px2rem(10)
      color $color-white
      a
        color $color-white
    .light
      padding 0 px2rem(13)
      border(all, px2rem(1), $color-dark)
    .disabled
      background $color-light
.gray
  color $color-font-light
.red
  color $color-red
.yellow
  color $color-yellow
.green
  color $color-green
  
