@import "~common/global"

.wrap
  margin-bottom px2rem(12)
  background #fff
  .header
    padding px2rem(15) px2rem(20)
    border(bottom)
    box()
    >div:first-child
      flex 1
  .footer
    padding px2rem(10) px2rem(20)
    box()
    align-items center
    .priceArea
      flex 1
    .btnArea
      box()
      align-items center
      margin-left px2rem(20)
      height px2rem(30)
      text-align center
    .dark
      background $color-dark
      padding 0 px2rem(10)
      color $color-white
    .light
      padding 0 px2rem(13)
      border(all, px2rem(1), $color-dark)
    .disabled
      background $color-light
.gray
  color $color-font-light
.red
  color $color-red
.yellow
  color $color-yellow
.green
  color $color-green
  
