@import "~common/global.styl"

.wrap
  box()
  margin 0 50px
  flex-wrap wrap
  >div
    width 40%
    margin 5px
    height 30px
    line-height 30px

  .selected
    border(all, 1px, $color-dark)
    color $color-dark
  .selected::before
    content ''
    position absolute
    display block
    width 0
    height 0
    border-top 10px solid $color-dark
    border-right 10px solid transparent
  .unselected
    border(all, 1px, $color-light)
    color $color-light
