@import "~common/global.styl"

.wrap
  display block
  color $color-dark
  .img
    width 100%
    margin-bottom px2rem(9)
  .text
    G-cut-txt()
    color $color-dark
    font-size px2rem(15)
    line-height px2rem(25)
  .price
    color $color-red
    font-size px2rem(12)
  .normal
    color $color-dark
