@import "~common/global"

.wrap_pay
  padding-bottom px2rem(80)
.wrap
  color $color-dark
  font-size px2rem(14)
  font-weight 300
  .bgWhite
    background-color $color-white
    margin-bottom px2rem(12)
  .orderInfo
    height px2rem(76)
    padding px2rem(14) px2rem(20)
    p
      line-height px2rem(24)
  .payInfo
    .content
      padding px2rem(14) px2rem(20)
      border-bottom 1px solid #f6f6f6
      p
        line-height px2rem(24)
        .red
          color $color-red
        .tel
          margin-left px2rem(13)
  .contect
    height px2rem(60)
    padding px2rem(20) 0
    text-align center
    font-size px2rem(14)
    >a
      color $color-dark
    .text
      margin-left px2rem(10)
    .telIcon
      position relative
      top px2rem(-1)
  .bottomBtnGroup
    height px2rem(135)
  .service
    padding 0 px2rem(15) px2rem(15)
    // position fixed 
    // bottom 0
    width 100%
  .readyPay
    // padding px2rem(15)
    background-color $color-white
    position fixed 
    bottom 0
    width 100%
    height px2rem(55)
    box-shadow(0 px2rem(-2) px2rem(4) rgba(0,0,0,0.075))
    
    .btnGroup
      box()
      align-items center
      justify-content flex-end
      height px2rem(55)
      padding 0 px2rem(10)
    .btnArea
      margin-right px2rem(10)
      height px2rem(40)
      line-height px2rem(40)
      width px2rem(100)
      text-align center
      border(all, px2rem(1), #979797+50%)
      font-size px2rem(16)
      border-radius px2rem(3)
    .toPay
      background $color-bright
      border none
      font-weight bold

      