@import "~common/global"

.wrap_pay
  padding-bottom px2rem(80)
.wrap
  color $color-dark
  font-size px2rem(14)
  font-weight 300
  .bgWhite
    background-color $color-white
    margin-bottom px2rem(12)
  .orderInfo
    height px2rem(76)
    padding px2rem(14) px2rem(20)
    p
      line-height px2rem(24)
  .payInfo
    .content
      padding px2rem(14) px2rem(20)
      border-bottom 1px solid #f6f6f6
      p
        line-height px2rem(24)
        .red
          color $color-red
        .tel
          margin-left px2rem(13)
  .contect
    height px2rem(60)
    padding px2rem(20) 0
    text-align center
    font-size px2rem(14)
    >a
      color $color-dark
    .text
      margin-left px2rem(10)
    .telIcon
      position relative
      top px2rem(-1)
  .service
    padding 0 px2rem(15) px2rem(15)
    // position fixed 
    // bottom 0
    width 100%
  .readyPay
    // padding px2rem(15)
    position fixed 
    bottom 0
    width 100%
    box-shadow(0 px2rem(-2) px2rem(4) rgba(0,0,0,0.075))
    .totalAmount
      width 65%
      color $color-dark
      padding-left px2rem(15)
    .goPay
      background-color $color-bright
      width 35%
      text-align center
    .common
      display inline-block
      height 55px
      line-height 55px
      font-size px2rem(16)
      font-weight bold

      