@import "~common/global.styl"

.wrap
  display-flex()
  position fixed
  bottom 0
  width 100%
  .content
    box()
    width px2rem(355)
    height px2rem(55)
    background $color-dark
    color $color-white
    margin 0 auto 10px
    overflow hidden
    >div
      box()
      align-items center
      justify-content center
    .callUs
      width px2rem(100)
    .buyArea
      flex 1
      font-size $font-size14
