@import "~common/global.styl"

.wrap
  footerStyle()
  .content
    flex 1
    box-shadow 0 0 px2rem(4) 0 rgba(0,0,0,0.19)
    box()
    // width px2rem(355)
    height px2rem(55)
    color $color-white
    overflow hidden
    > div
      box()
      align-items center
      justify-content center
    .icons
      background $color-dark
      box()
      .item
        min-width px2rem(50)
        line-height px2rem(55)
        text-align center
        position relative
        &:after
          content ''
          position absolute
          right px2rem(-0.5)
          top px2rem(16)
          width px2rem(1)
          height px2rem(24)
          background-color #787c7e
      .noBoard
        &:after
          display none
      .cart
        color $color-white
        em
          font-size px2rem(12)
          font-weight 300
          width px2rem(14)
          height px2rem(14)
          box()
          align-items center
          justify-content center
          background-color $color-red
          position absolute
          right px2rem(8)
          top px2rem(14)
          border-radius 50%
          span
            transform scale(0.8)
    .buyArea
      flex 1
      height 100%
      font-size $font-size16
      box()
      align-items center
      >div
        box()
        height 100%
        justify-content center
        align-items center
      .addCart
        flex 1
        background $color-dark
        color $color-white
      .buy
        flex 1
        background $color-bright
        color $color-tag
      .disabled
        flex 1
        background $color-font-light
        color $color-white
