@import "~common/global.styl"

.wrap
  font-size $font-size20
  line-height px2rem(28)
  text-align center
  padding px2rem(37) 0 px2rem(26)
  position relative
  color #394043
  &:after
    content ''
    position absolute
    top px2rem(72)
    left 50%
    width px2rem(20)
    height 0
    margin-left px2rem(-10)
    border(top,,#9C9FA1)
