@import "~common/global.styl"

.wrap
  font-size $font-size18
  line-height 1
  text-align center
  padding px2rem(37) 0 px2rem(26)
  position relative
  &:after
    content ''
    position absolute
    bottom px2rem(20)
    left 50%
    width px2rem(20)
    height 0
    margin-left px2rem(-10)
    border(top,,#9C9FA1)
