@import "~common/global.styl"

.wrap
  padding-bottom px2rem(60)
  .banner
    // min-height px2rem(170)
    position relative
    color $color-white
    .page
      position absolute
      text-align center
      width px2rem(40)
      height px2rem(20)
      line-height px2rem(20)
      border-radius px2rem(2)
      color $color-dark
      background rgba(255, 255, 255, .8)
      bottom px2rem(15)
      right px2rem(20)
      box-shadow 0 0 4px rgba(0,0,0,0.2)
  .showPic
    background-color rgba(0, 0, 0, .9)
    position fixed
    top 0
    right 0
    bottom 0
    left 0
    z-index 10
    .sliderWrap
      height 100%
      width 100%
      position absolute
      top 40%
      & > div
        margin-top -50%
    .close
      // width px2rem(40)
      position absolute
      bottom px2rem(50)
      left 50%
      margin-left px2rem(-20)
      z-index 11
    .page
      position absolute
      bottom px2rem(128)
      left px2rem(20)
      box-shadow 0 0 4px rgba(0,0,0,0.2)
      color #FFF
      font-size $font-size16
  .iconCheck
    margin-right px2rem(7)
  .toast
    position absolute
    top px2rem(128)
    width 100%
    z-index 1
    .inner
      width px2rem(105)
      height px2rem(105)
      box()
      align-items center
      justify-content center
      background url('http://img.ljcdn.com/lmall/d9cb0ba9-c762-412a-9d3f-acc218ac1548.png.210x210.png')
      background-size 100%
      margin 0 auto
      font-size $font-size16
      color $color-white
      font-weight 300
