@import "~common/global.styl"

.wrap
  padding-bottom px2rem(60)
  .banner
    // min-height px2rem(170)
    position relative
    color $color-white
    .page
      position absolute
      text-align center
      width px2rem(40)
      height px2rem(20)
      line-height px2rem(20)
      border-radius px2rem(2)
      color $color-dark
      background rgba(255, 255, 255, .8)
      bottom px2rem(15)
      right px2rem(20)
      box-shadow 0 0 4px rgba(0,0,0,0.2)
