@import "~common/global.styl"

.wrap
  padding-bottom px2rem(60)
  .banner
    // min-height px2rem(170)
    color $color-white
  .card
    background $color-white
    padding px2rem(16)
    margin-bottom px2rem(10)
    h2
      font-size $font-size18
      margin-bottom px2rem(10)
  .baseInfo
    header
      box()
      margin-bottom px2rem(10)
    .left
      max-width 66%
      h1
        font-size $font-size20
        color $color-dark
        margin-bottom px2rem(3)
    .right
      flex()
      text-align right
      padding-top px2rem(4)
      .curPrice
        color $color-spc
        font-size $font-size18
        margin-bottom px2rem(2)
        word-spacing no-wrap
      .normalPrice
        color $color-light
        word-spacing no-wrap
    .tags
      .item
        display inline-block
        border(all,1px,$color-tag)
        padding px2rem(2) px2rem(5) px2rem(2) px2rem(5)
        transform(scale(.8))
        transform-origin()
        color $color-tag
    .main
      color $color-light
      box()
      margin-bottom px2rem(15)
      padding-bottom px2rem(15)
      border(bottom)
      & > div
        flex()
        text-align center
        &:first-child
          text-align left
        &:last-child
          text-align right
    footer
      .item
        display inline-block
        min-width 33%
        position relative
        text-indent 1em
        &:before
          content ''
          position absolute
          left 0
          top px2rem(6)
          width px2rem(5)
          height px2rem(5)
          background-color $color-dark
          border-radius 50%
  .choose
    line-height px2rem(30)
    span
      color $color-light
  .detailInfo
    img
      width 100%
  .goodsStandard
    li
      line-height px2rem(20)
      padding px2rem(5)
      display inline-block
      width 50%
      &:not(:last-child)
        border(bottom,,,dashed)
      &.long
        width 100%
    .tit
      color $color-light
  .ensureInfo
    li
      box()
      padding px2rem(10) 0
      &:not(:last-child)
        border(bottom)
    .picWrap
      width px2rem(40)
      min-height px2rem(40)
      text-align center
      overflow hidden
      margin-right px2rem(10)
      img
        width 100%
    .tit
      font-size $font-size14
      margin-bottom px2rem(5)
    .info
      color $color-light
  .telUs
    img
      width 100%
