@import "~common/global.styl"

.wrap
  width 100%
  height 100%
  background-color white
  .imgContainer
    margin-top px2rem(500)
    width px2rem(100)
    margin auto
    padding-top px2rem(200)
  .errorMsg
    width px2rem(100)
    margin auto
    color 394043
    font-size px2rem(16)
    margin-top px2rem(29)
