@import "~common/global.styl"
.wrap
  removeShape()
  display-flex()
  position fixed
  bottom 0
  width 100%
  height 0
  background-color rgba(0,0,0,0.7)
  overflow hidden
  z-index 5
  .show
    fadeUp()
  .hide
    transform translate(0, 120%)
  .infoContainer
    transform opacity 0
    max-height 95%
    width 100%
    position fixed
    bottom 0
    left 0
    box()
    flex-direction column
    height 60%
    width 100%
    padding 0 px2rem(20)
    z-index 101
    background-color $color-white
    transition transform .3s ease-out
  .title
    box()
    align-items center
    padding px2rem(20) 0
    border(bottom)
    h2
      font-size $font-size18
      color $color-dark
      flex 1
    .close
      position relative
      left px2rem(10)
      color #9c9fa1
  .content
    overflow-y auto
    padding-bottom px2rem(15)
    line-height 1.45
  .service
    padding px2rem(16) 0 0 0
    .label
      font-size px2rem(15)
      color $color-dark
      padding-bottom px2rem(5)
      height px2rem(22)
      box()
      align-items center
      >div
        width px2rem(20)
        height 100%
        box()
        justify-content center
        align-items center
        .dot
          width px2rem(5)
          height px2rem(5)
    .value
      font-family 'PingFangSC', -apple-system, BlinkMacSystemFont, Microsoft Yahei, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif
      padding-left px2rem(20)
      color $color-font-light
      font-size px2rem(13)
  .param
    box()
    padding px2rem(15) 0
    font-size px2rem(15)
    border(bottom)
    .label
      width px2rem(90)
      color $color-font-light
    .value
      color $color-dark
      flex 1
.showOuter
  visibility visible
  height 100%
