@import "~common/global.styl"

.wrap
  min-height 100%
  // background $color-white
  padding-bottom px2rem(80)
.list
  border(bottom, px2rem(12), #f5f5f5)
  margin-bottom px2rem(80)
.split
  margin-left px2rem(20)
  border(none)
  border(bottom)
.footer
  footerStyle()
  z-index 10
  box-shadow(0 px2rem(-2) px2rem(4) rgba(0,0,0,0.075))
.checkAll, .priceArea
  height px2rem(55)
  color $color-dark
  background $color-white
  box()
  align-items center
.active
  :global .innerMark
    fill $color-white
.checkAll
  padding-left px2rem(15)
  font-size $font-size13
.checkIcon
  position relative
  top px2rem(-1)
  line-height px2rem(18)
.priceArea
  padding-right px2rem(15)
  flex 1
  justify-content flex-end
  font-size $font-size13
.buyArea
  height px2rem(55)
  box()
  align-items center
  background $color-bright
  text-align center
  width px2rem(128)
  justify-content center
  font-size $font-size16
  font-weight bold
  color $color-dark
.empty
  text-align center
  padding px2rem(50)
