@import "~common/global.styl"

.wrap
  position relative
.inner
  box()
  position absolute
  right 0
  min-width 100%
.pannel
  box()
  align-items center
  font-size $font-size16
  font-weight 300
  padding px2rem(20) 0 px2rem(15)
  background $color-white
.checkArea
  width px2rem(40)
  text-align center
.img
  width px2rem(100)
  height px2rem(100)
.titleArea
  flex 1
  min-height px2rem(100)
  padding 0 px2rem(20) 0 px2rem(14)
  box()
  flex-direction column
.title
  G-cut-p(1)
.light
  flex 1
  padding px2rem(10) 0
  color $color-font-light
  font-size px2rem(13)
.priceArea
  box()
  align-items flex-end
  justify-content space-between
.delete
  transition all .1s
  background $color-red
  color $color-white
  width 0
  font-size 0
  box()
  align-items center
  justify-content center
  overflow hidden
.showDelete
  font-size $font-size16
  width px2rem(74)
