@import "~common/global.styl"

.wrap
  font-size $font-size14
  background $color-white
  padding px2rem(27) 0 px2rem(28) 0
  margin-bottom px2rem(12)
  h2
    font-size $font-size18
    margin-bottom px2rem(10)
    padding-left px2rem(20)
  img
    width 100%!important
    height auto!important
