@import "~common/global.styl"

.wrap
  background $color-gray
  height 100%
  text-align center
  .title
    font-size $font-size2
    color $color-dark
  .tip
    font-size $font-size
    color $color-light
  .head
    font-size $font-size1
  .reason
    background $color-white
    position absolute
    bottom 0
    left 0
    right 0
    max-height 3.5rem
    padding-bottom .4rem


