@import "~common/global.styl"

.wrap
  box()
  color $color-dark
  margin-top px2rem(20)
  padding-bottom px2rem(20)
  border(bottom)
  font-weight 300
  .left
    width px2rem(90)
    padding-right px2rem(16)
  .right
    flex 1
    // padding-right px2rem(20)
    box()
    flex-direction column
  .img
    width 100%
  .title
    color $color-dark
    font-size px2rem(16)
    font-weight 300
    margin-top px2rem(-2)
    box()
    .long
      G-cut-p(1)
      flex 1
  .text
    flex 1
    color $color-font-light
    font-size px2rem(13)
    padding-top px2rem(5)
    line-height px2rem(15)
  .price
    color $color-dark
    font-size px2rem(13)
    margin-bottom px2rem(-2)
