@import "~common/global.styl"

.wrap
  background $color-white
  height 100%
  .banner
    min-height px2rem(170)
    color $color-white
  .navOuter
    margin px2rem(16) 0 px2rem(40) 0
    padding 0 px2rem(16)
  .label
    background $color-white
    padding 0 px2rem(16) px2rem(16)
    box()
  .title
    font-weight 500
    font-size $font-size20
    color $color-dark
    flex 1
  .subTitle
    font-size px2rem(13)
    color $color-font-light
    padding-left px2rem(5)
  .plat
    padding 0 px2rem(16) px2rem(16)
    background $color-white
  .subject
    padding-right 0
    min-height px2rem(150)
  .current
    font-size $font-size14
    color $color-dark
  .footer
    padding px2rem(30) 0
    text-align center
    img
      user-select none
      width px2rem(308)
