@import "~common/global.styl"

.wrap
  background $color-white
  height 100%
  .banner
    background $color-dark
    height 15.8rem
    color $color-white
  .navOuter
    margin 1.6rem 0
  .label
    padding 0 1.6rem
  .title
    font-size $font-size20
    color $color-dark
  .plat
    padding 1.6rem
    background $color-white
  .subject
    padding-right 0
  .recommend
    height 19.3rem
    background $color-bright
