@import "~common/global.styl"

.wrap
  background $color-white
  height 100%
  .banner
    min-height px2rem(170)
    color $color-white
  .navOuter
    margin px2rem(16) 0
  .label
    padding 0 px2rem(16)
  .title
    font-size $font-size20
    color $color-dark
  .plat
    padding 0 px2rem(16) px2rem(16)
    background $color-white
  .subject
    padding-right 0
    min-height px2rem(150)
  .current
    font-size $font-size14
    color $color-dark
