@import "~common/global.styl"

.wrap
  @extend .G-card
  li
    box()
    padding px2rem(10) 0
    &:not(:last-child)
      border(bottom)
  .picWrap
    width px2rem(40)
    min-height px2rem(40)
    text-align center
    overflow hidden
    margin-right px2rem(10)
    img
      width 100%
  .tit
    font-size $font-size14
    margin-bottom px2rem(5)
  .info
    color $color-light
