@import "~common/global.styl"

.wrap
  .banner
    height px2rem(214)
    overflow hidden
    position relative
    text-align center
    img
      width 100%
      min-height 100%
    h1,
    h2
      font-size $font-size24
      line-height px2rem(40)
      position absolute
      top px2rem(79)
      z-index 3
      width 100%
      text-align center
      color #FFF
    h2
      font-size $font-size12
      line-height px2rem(20)
      top px2rem(120)
      color rgba(255,255,255,.8)
    &:after
      content ''
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      background-color rgba(0, 0, 0, .3)
  .btnArea
    padding px2rem(3) px2rem(20) px2rem(20)
    background #FFF
    margin -1px 0 px2rem(0)
