@import "~common/global.styl"

.wrap
  background $color-white
  padding-bottom px2rem(50)
  min-height 100%
.item
  padding px2rem(20) px2rem(20) 0 px2rem(20)
  text-align center
  .inner
    position relative
    width 100%
    overflow hidden
  .img
    // 固定图片长宽比为16:9
    width 100%
    padding-bottom 56.25%
    background-size 100%!important
    background-repeat no-repeat!important
  .content
    position absolute
    top 0
    left 0
    background-color rgba(0, 0, 0, .3)
    width 100%
    height 100%
    box()
    flex-direction column
    justify-content center
    align-items center
    hr
      width px2rem(16)
      margin px2rem(7)
      border(none)
      border(bottom, px2rem(2), $color-white)
    h2
      position relative
      font-size $font-size22
      color $color-white
      >span
        position absolute
        top px2rem(-18)
        left px2rem(-20)
    h4
      font-size $font-size14
      color $color-white
      font-weight 300
      max-width 100%
      G-cut-txt()
      padding 0 px2rem(20)
