@import "~common/global"

.address
  box()
  a
    color $color-dark
  .icon
    padding-right px2rem(10)
  .right
    flex 1
  .detail
    box()
    font-size px2rem(13)
    margin-top px2rem(5)
    font-weight 300
    color $color-font-light
  .addressDetail
    flex 1
  .next
    position relative
    top px2rem(-13)
