@import "~common/global"

.wrap
  margin-bottom px2rem(12)
  padding-bottom px2rem(40)
  .pannel
    background #fff
    margin-bottom px2rem(12)
    font-size $font-size16
    padding px2rem(22) px2rem(20) px2rem(8) px2rem(20)
    border(bottom, px2rem(1), transparent)
  .content
    border(top, 1px, transparent)
    padding 0 px2rem(20)
  .bottom
    position fixed
    width 100%
    bottom 0
    left 0
    padding px2rem(15)
  .footer
    position fixed
    bottom 0
    width 100%
    max-width $max-width
    background $color-white
    // padding px2rem(15) px2rem(20)
    box()
    align-items center
    box-shadow(0 px2rem(-2) px2rem(4) rgba(0,0,0,0.075))
  .priceArea
    height px2rem(55)
    padding 0 px2rem(15)
    color $color-dark
    box()
    align-items center
    flex 1
    font-size $font-size16
    font-weight bold
  .buyArea
    height px2rem(55)
    box()
    align-items center
    background $color-bright
    text-align center
    width px2rem(128)
    justify-content center
    font-size $font-size16
    font-weight bold
    color $color-dark
  .sendTime
    padding px2rem(20) px2rem(20) px2rem(15)
    font-weight 300
  .preTime
    padding-bottom px2rem(5)
  .service
    box()
    align-items center
    padding px2rem(15) px2rem(20) px2rem(10)
    font-weight 300
    .long
      flex 1
    span
      position relative
      top px2rem(2)
.light
  font-size px2rem(13)
  font-weight 300
  color $color-font-light
